*{
	font-family: 'Arial';
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
		background: #DCDCDC;
}
.grid{
	width: 1140px;
	height:1300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
}
.logo_1{
	background: white;
	width: 1140px;
	height: 80px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column: 1 / 10;
}
.logo{
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/images.png);
	width: 20%;
	height: 100%;
}
nav{
	background:#100C29;
	width: 1140px;
	height: 70px;
	display: flex;
}
.section_block>p{
	font-size: 15px;
	width: 300px;
	margin-top: 10px;
}
.nav_el{
	color: white;
	padding-top: 24px;
	text-align: center;
	width: 20%;
	height: 100px;
}
.nav_el_soc{
	width: 80%;
	height: 100px;
}
.slider_block{
	margin-top: 20px;
	display: grid;
	grid-column: 1 / 10;
	width: 1140px;
	height: 400px;
}
.slider{
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 160px;
	background: #46C820;
	width: 1140px;
	height: 380px;
}
section{
	width: 1140px;
	height: 700px;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.section_block{
	font-size: 25px;
	padding: 20px;
	background: #fff;
	width: 370px;
	height: 240px;
}
.section_block_b{
	display: flex;
	font-size: 25px;
	padding: 20px;
	background: #fff;
	grid-column: 1 / 10;
	grid-row: 2 / 3;
	width: 1140px;
	height: 420px;
}
.section1{
	padding: 20px;
	width: 750px;
	height: 100%;
}
.section2{
	padding: 20px;
	width: 350px;
	height: 100%;
}
.section1>p{
	font-size: 15px;
	width:700px;
	margin-top: 10px;
}
.gallery{
	text-align: center;
	border: 1px solid black;
	width: 1140px;
	height: 300px;
	display: grid;
	grid-column: 1 / 10;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.section1>h1{
	margin-top: 10px;
}
.menu{
	margin-top: 10px;
	width: 320px;
	height: 300px;
	background: #DCDCDC;
}
.menu_element{
	padding: 24px;
	font-size:15px;
	width: 100%;
	height: 75px;
}
.menu_element:hover{
	transition: 0.5s;
	color: white;
	background: grey;
}
[class*="gallery1_block"]{
	width: 285px;
	height: 100px;
	border: 1px solid black;
}
.gallery1_block1{
	grid-column: 1 / 2;
}
.gallery1_block2{
	grid-column: 2 / 3;
}
.gallery1_block3{
	grid-column: 3 / 4;
}
.gallery1_block4{
	grid-column: 4 / 5;
}